.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

input input{
    border: none;
    font-style: 1rem;
    color: var(--heading-color);
}